/* .react-pdf__Page__canvas {
  height: 50%;
}

.react-pdf__Page__textContent {
  height: 50%;
} */

.home-btn {
  box-shadow: 0.3em 0.3em 0 0 black;
  transition: box-shadow 0.3s ease-in-out;
}

.home-btn:hover {
  animation: shadow-recede 0.3s ease-in-out forwards;
}

@keyframes shadow-recede {
  from {
    box-shadow: 0.3em 0.3em 0 0 black;
  }
  to {
    box-shadow: 0 0 0 0 black;
  }
}

.home-btn:not(:hover) {
  animation: shadow-reverse 0.3s ease-in-out forwards;
}

@keyframes shadow-reverse {
  from {
    box-shadow: 0 0 0 0 black;
  }
  to {
    box-shadow: 0.3em 0.3em 0 0 black;
  }
}

.curved-background__curved {
  /* Background color */
  background-color: #818cf8;

  /* You can use gradient background color such as */
  /* background: linear-gradient(rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.1) 100%); */

  /* Curved corners */
  border-bottom-left-radius: 50% 100%;
  border-bottom-right-radius: 50% 100%;

  /* Size */
  height: 20vh;
}

.card-gradient {
  background: #25262b;
  background: linear-gradient(45deg, #25262b 69%, #141517 100%);
  background: -moz-linear-gradient(45deg, #25262b 69%, #141517 100%);
  background: -webkit-linear-gradient(45deg, #25262b 69%, #141517 100%);
  filter: 'progid: DXImageTransform.Microsoft.gradient( startColorstr="#141517", endColorstr="#141517", GradientType=1 )';
}

.header-link {
  position: relative;
  text-decoration: none;
}

.header-link::before {
  content: '';
  position: absolute;
  width: 80%;
  margin-left: 10%;
  height: 0.5px;
  border-radius: 4px;
  background-color: white;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.header-link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
